header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar__menu {
    background-color: whitesmoke;
    height: 59px;
    line-height: 60px;

    #navbar__list {
        padding-left: 0;
        margin: 0;
        text-align: right;
        font-size: small;
        display: flex;
        justify-content: center;
    }

    li {
        flex: 1;
        display: inline-block;
        text-align: center;
    }

    .menu__link {
        display: block;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        color: #00b4d8;
    }

    .active-class {
        background: rgb(209, 181, 181);
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
    }
}

/* Large Screens */
@media (min-width:1100px) {
    .menu__link:hover {
        background: rgb(136, 135, 135);
        color: #fff;
        transition: ease 0.3s all;
    }
}
